*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html,body{
  font-family: 'Roboto', Helvetica Neue, Segoe UI, Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: black;
  overflow-y: auto;
  overflow-x: hidden;
}.background-image-side {
  width: 100%; /* Full width */
  height: 130vh; /* Takes up 1/3 of the viewport height */
  position: relative; /* Allows content inside to be positioned */

  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), 
    url('../images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}
.header-div{
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7rem;
}
.netflix-header{
  cursor: pointer;
  color: red;
  padding-left: min(8rem,5%);
  align-items: center;
  font-size: min(2.5rem, calc(2vw + 0.6rem));
}.signin-button{
  cursor: pointer;
  margin-right:  min(11rem, 4%);
  padding: 0.5rem 1rem;
  background-color: red;
  color: white;
  font-size: 0.8rem;
  border: none;
  font-weight: bold;
  border-radius: 0.3rem;


}h1{
  color: white;
}.about{
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}.about h1{
  max-width: min(600px,75%);
  font-size: clamp(2rem, calc(4vw + 1.5rem),3.5rem);
  padding: min(1.5rem, 20%);
  font-weight: 900; 
}.about h4{
  font-size: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: min(2rem, 5%);
}.about h5{
  font-size: min(1rem, 4vw);
  padding-bottom: 0.8rem;
  font-weight: 500;

}.inputgroup{
  width: min(800px, 90%);
  box-sizing: border-box;
}
.email-input, .inputgroup input{
  margin: 0;
  padding: min(0.5rem, 15%);
  font-size: clamp(0.3rem, 1rem, 4vw);
  border: 1px solid rgb(83, 82, 82);
  border-radius: 0.2rem;
  background-color: rgb(31, 28, 28);
  width: 60%;
  color: white;
}.inputgroup button, .get-started{
  padding: min(0.5rem, 15%);
  font-size: clamp(0.3rem, 1rem, 4vw);
  background-color: red;
  color: white;
  border: none;
  border-radius: 0.2rem;
  font-weight: bold;
  cursor: pointer;
}
a{
  display: inline-block;

}
.movies{
  color: white;
  text-align: justify;
  border-width: 1rem;
  border-color: red;
  margin-left: 9rem;
  
}
.movies h3{
 color: white;
 margin-left: 3.5rem;
 padding-top: 5rem;
 max-width: 300px;
 margin-bottom: 0;
 padding-bottom: min(1.75rem, 5%);
}
.movies-display{
  display: grid;
  grid-template-columns: repeat(10, 200px);
  margin: 0 4rem;
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
  overflow-x: hidden;
  position: relative;
  overflow-y: hidden;
  gap: 1rem;
  
}.movies-display button{
  position: relative;
  border: none; 
  background: none; /* Remove default button background */
  

}.movies-display button img {
  border-radius: 0.3rem;
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}
.next-button{
  background-color: rgb(29, 27, 27); /* Netflix red */
  color: rgb(180, 175, 175);
  border: none;
  border-radius: 0.5rem; /* Make it circular */
  height: 8rem;
  font-size: 1.5rem; /* Increase font size */
  cursor: pointer; /* Add pointer cursor */
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
  right: -6rem;
  z-index: 30;
}.prev-button{
  z-index: inherit;
  left: 0;
  background-color: rgb(29, 27, 27); /* Netflix red */
  color: rgb(180, 175, 175);
  border: none;
  border-radius: 0.5rem; /* Make it circular */
  height: 8rem;
  font-size: 1.5rem; /* Increase font size */
  cursor: pointer; /* Add pointer cursor */
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
  
  display: none;
}
.container{
  max-width: 950px;
  position: relative;
  display: grid;


}.data-content{
  padding: 0;
  font-family: 'Helvetica', Arial, sans-serif;
  position: absolute;
  color: black;
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  font-size: 6rem;
  cursor: pointer;
  z-index: 10;
  font-weight: 700;
  bottom: -0.5rem;
  left: -1rem;
  -webkit-text-stroke: 4px white;
  -webkit-text-stroke-width: 5px;
 
  paint-order: stroke fill; /* For Firefox */
}.section-two-header h3{
  font-size: 1.5rem;
  color: white;
  padding-left: 5%;
  text-align: start;
  margin-bottom: 1rem;
  margin-left: 9rem;
}.section-two{
  margin-top: 120px;
  width: 1024px;
}.grid{
  display: grid;
  color: white;
  gap:  3%;
  padding-left: 5%;
  grid-template-columns: repeat(4, 1fr) ;
  width: 100%;
  margin-left: 9rem;
  
}.grid-box h3{
  font-size: 1.25rem;
  color: white;
  margin-bottom: 1rem;

}
.grid-box{
  background-color: rgb(32, 3, 56);
  text-align: left;
  border-radius: 5px;
  padding: min(2rem, 4%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 280px;
}.grid-box textarea{
  margin-top: 1rem;
}.grid-box div{
  font-size: 1rem;
  color: white;
  flex-grow: 1; 
  margin-bottom: 1rem; 
  overflow-wrap: break-word;
}.svg-container{
  position: absolute;
  bottom: -2rem;
  right: 0.5rem;
  

}.svg{
  width: 4rem;
  height: auto;
  max-width: 100%;
  padding: 1rem;
}.faq{
  width: 76%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 4rem 9rem;
 
}.question-container{
  padding: min(1.5rem, 10%);
  background-color: rgb(78, 74, 74);
  gap: 1rem;
  position: relative;
  cursor: pointer;


}.faqs-container{
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}.faq-answers{
 border-radius: 10px;
 background-color: rgb(78, 74, 74);
  display: none;
  padding: 1rem;
  font-weight: 500;
}.questions{
  padding: 0;
  font-size: 1.5rem;
  font-weight: 500;
}.plus-sign{
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 1rem;

}.ready{
  color: white;
  margin-top: min(5rem, 10%);
  margin-bottom: min(3rem, 6%);
  padding-left: 3%;
}.footer{
  margin: 3rem auto;
  text-align: left;
  margin-left:  5%;
  width: 90%;
  text-decoration: underline;
  padding-left: 7rem;
  color: rgb(78, 74, 74);

}.footer-flex{
  color: rgb(131, 128, 128);
  font-size: 0.8rem;
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  margin-top: 1rem;
  gap: 0.5rem;
}.faq h2{
  font-size: 1.5rem;
  padding-left: 3rem;
 
}
/* Responsive Styles */
@media (max-width: 1200px) {
  
}

@media(max-width: 480px){
  .background-image-side{
    height: 70dvh;
  }
  .inputgroup{
   
  }
  .email-input{
   width: 100% !important;
  }
  .get-started{
    width: 100%;
    margin-top: 10px;
  }
  .movies{
    margin-left: 1rem;
    margin-top: 4rem;
    padding: 0;
  }.movies h3{
    padding-top: 5px;
    padding-left: 1rem;
    margin: 0;
  }.movies-display{
    grid-template-columns: repeat(10, 100px); 
    overflow-x: auto;
    width: 350px;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    margin-left: 0;
    padding-left: 1rem;
  }.data-content{
    font-size: 3rem;
  }.next-button{
    background-color: rgb(29, 27, 27); /* Netflix red */
    color: rgb(180, 175, 175);
    border: none;
    border-radius: 0.5rem; /* Make it circular */
    height: 4rem;
    font-size: 1.5rem; /* Increase font size */
    cursor: pointer; /* Add pointer cursor */
    padding: 0.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    right: 2rem;
    z-index: 30;
  }.prev-button{
    z-index: 30;
    left: 0;
    background-color: rgb(29, 27, 27); /* Netflix red */
    color: rgb(180, 175, 175);
    border: none;
    border-radius: 0.5rem; /* Make it circular */
    height: 4rem;
    font-size: 1.5rem; /* Increase font size */
    cursor: pointer; /* Add pointer cursor */
    padding: 0.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    display: none;
  }.section-two{
    margin-top: 3rem;
    padding: 0;
    margin-left: 0;
  }.section-two-header h3{
    margin-left: 1rem;
    padding-left: 1rem;
  }.grid{
    grid-template-columns: 1fr;
    max-width: 360px;
    margin-left: 1rem;
    padding-top: 0;
    padding-left: 1rem;
  }.grid-box h3{
    font-size: 1rem;
  }.grid-box div{
    font-size: 0.7rem;
  }.grid-box{
    height: 100px;
  }.svg-container{
    width: 3.5rem;
    bottom: -3rem;
    right: 0;
  }.faq{
    margin-top: 5rem;
    margin-left: 0;
    width: 90%;
  }.faq h2{
    font-size: 1rem;
    padding-left: 2rem;
  }.faqs-container{
    padding-left: 2rem;
    width: 100%;
  }.questions{
    font-size: 1.3rem;
  }.footer{
    margin-left: 0;
    padding-left: 2rem;
  }.footer-flex{
    grid-template-columns: 1fr;
  }.container{
    max-width: 400px;
  }

}